<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Маршрут от точки на карте</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=72d96610-fbdd-4901-bc20-60a92d81a540" type="text/javascript"></script>

    <style>
        html, body, #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script src="/static/js/route_panel_control.js" lang="text/javascript"></script>
</body>
</html>
